.contact {
  background-color: #300133;
  width: 1000px;
  margin-top: 260px;
  padding-top: 44px;
  padding-left: 64px;
  padding-bottom: 64px;
  color: #f2f2f2;
  margin-left: 400px;

  &__name {
    width: 453px;
    font-weight: 800;
    font-size: 64px;
    margin-top: 15px;
  }
  &__text {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 500;
  }
}
@media (max-device-width: 480px) {
  .contact {
    margin-left: 0px;
    width: 1350px;
    height: 700px;
    &__name {
      font-size: 100px;
      padding-bottom: 50px;
    }
    &__text {
      font-size: 70px;
    }
  }
}
