.experience {
  margin: 64px;
  display: grid;
  grid-template-columns: 424px 504px;
  grid-template-rows: 300px 300px;
  grid-template-areas:
    'a b'
    'a c';

  text-align: center;
  list-style-type: none;
  padding: 0;
  gap: 16px;
  &__title {
    font-size: 40px;
  }
  &__clique{
    display: block;
    width: 30px;
    bottom: 10px;
    text-align: center;
    
  }
  &__elem {
    position: relative;
    &:hover {
      .experience__elem__content {
        opacity: 1;
        color: white;
        transition: opacity 300ms ease-in-out 200ms;
      }
      .experience__elem__summary {
        background-color: rgb(0 0 0/ 40%);
        filter: blur(3px);
      }
      .experience__elem--3 {
        .experience__elem__summary {
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }
    &__summary {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      margin: auto;
      justify-content: center;
      align-items: center;
      transition: filter 300ms ease-in-out 0ms, background-color 300ms ease-in-out 0ms;
    }

    &__text {
      position: absolute;
      right: 16px;
      bottom: 22px;
      margin: 0;
    }
    &--1 {
      grid-area: a;
      border-radius: 5px;
      color: white;
      background-position: center;
      background-size: cover;
      background-image: url("../image/Mcdonalds_France_2009_logo.svg.png");
    }
    &--2 {
      
      grid-area: b;
      color: rgba(255, 255, 255, 0);
      border-radius: 5px;
      
      background-position: center;
      
      background-size: cover;
      background-image: url("../image/opinel_logobleu.jpeg");
    }
    &--3 {
      grid-area: c;
      border-radius: 5px;
      background-image: url("../image/cropped-cropped-AU-JARDIN-LOGO.jpeg");
      background-position: center;
      background-size: cover;
      color:white;
    }
    &__content {
      transition: opacity 300ms ease-in-out 0ms;
      opacity: 0;
      position: absolute;
      content: attr(li);
      top: 0;
      text-align: left;
      padding: 30px;
    }
  }
}
h3{
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
