.footer {
  height: 120px;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: left;
  gap: 500px;

  &__elementone {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    &__publish {
      text-decoration: underline;
      font-weight: bold;
    }
    &__date {
      margin: 0;
    }
   
  }
  &__elementtwo {
    display: flex;
    flex-direction: column;

    
    text-align: left;
    &__contenu {
      text-decoration: underline;
      font-weight: bold;
      margin:0;
    }
    &__cv {
      align-items: center;
      justify-content: center;
      a{
      text-decoration: none;
      color: black;}
    }
  }
}
hr {
  width: 1357px;

  border: 1px solid black;
  border-radius: 5px;
}
@media (max-device-width: 480px) {
  .footer {
    gap:130px;
    width: 1430px;
    &__elementone{
      
      &__publish{
        margin-top: 0;
        margin-bottom:60px;
      }
      &__date{
        width: 500px;
      }
      &__name{
        width: 500px;
        padding-bottom: 30px;
      }
    }
    &__elementtwo__contenu{
      width: 742px;
    }
  }
  hr{
   width: 1300px;
   margin-left: 40px;
   margin-top: 40px;
  }
}
