.formation__text {
  cursor: pointer;
  text-wrap: nowrap;
  transition: all 300ms;
  display: flex;
  flex-direction: column;
  margin: 30px;
  max-width: 0;
  overflow: hidden;
  &--transition {
    max-width: 500px;
  }
}
@media (max-width: 480px) {
  .formation__text {
    display: block;
    
    
  }
}
