.formation__text {
  cursor: pointer;
  text-wrap: nowrap;
  transition: all 300ms;
  display: flex;
  flex-direction: column;
  max-width: 0;
  overflow: hidden;

  &__name {
    margin-top: 90px;
    font-weight: 700;
    font-size: 15px;
  }
  &--transition {
    max-width: 500px;
  }
}
@media (max-device-width: 480px) {
  .formation__text {
    max-width: 10000px;
    text-align: center;
    margin-left: 185px;
    transition: all 300ms;
    margin-bottom: 70px;
    text-wrap: nowrap;
    visibility: hidden;

    &__name {
      font-size: 60px;
    }
    &--transition {
      visibility: visible;
      margin-top: 100px;
      text-align: center;
      margin-left: 200px;
    }
  }

  p {
    font-size: 60px;
    margin-bottom: 70px;
  }
}
