.menu {
  position: fixed;

  font-weight: 700;
  margin-right: 64px;

  &__list {
    display: grid;
    right: 10px;
    padding: 5%;
    font-size: 36px;
    text-align: right;
    width: 10%;
    height: 30%;
    position: fixed;
    list-style-type: none;
    font-weight: 700;
    margin-right: 64px;
  }
  &__anchor {
    text-decoration: none;
    color: #f2f2f2;
    -webkit-text-stroke: 1px black;
    &--isActive {
      display: block;
      transition: 500ms;
      color: black;
      transform: translateX(-30px);
    }

    &--isActive1 {
      display: block;
      transition: 500ms;
      color: #000000;
      transform: translateX(-30px);
      -webkit-text-stroke: 1px #f2f2f2;
    }
  }
 
  &__scroll {
    visibility: visible;
    position: fixed;
    
    animation: jump .7s linear alternate infinite;
    bottom: 5px;
    right: 120px;
    &--isActive {
      visibility: hidden;
    }
  }
  &__arrow {
    visibility: hidden;
    position: fixed;

    bottom: 5px;
    right: 120px;
    &--isActive {
      visibility: visible;
    }
  }
}
@media (max-width: 480px) {
  .menu {
    position: fixed;
    display: flex;
    flex-direction: row;

    &__list {
      position: fixed;
    display: grid;
    text-align: center;
    right: 120px;
    left: 50%;
    grid-auto-rows: max-content;
    }
    &__anchor{
      position: fixed;
      top:0px;
      left:400px;
    visibility: hidden;
    &--isActive{
      font-size: 120px;
      visibility: visible;
    }
  }
}
}
@keyframes jump {
  0%   {transform: translate3d(0,0,0) ;}
  40%  {transform: translate3d(0,30%,0) ;}
  100% {transform: translate3d(0,50%,0) ;}

}