.presentation {
  border-radius: 0 5px 5px 0;
  background-color: #300133;
  width: 800px;
  height: 400px;
  padding: 111px;
  color: #f2f2f2;
  margin: 0;
  font-size: 36px;
  font-weight: 700;

  &__text {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
}
@media (max-device-width: 480px) {
  .presentation {
    padding: 21px;
    width: 1400px;
    height: 1500px;

    margin: 3px;
    margin-bottom: 300px;
    p {
      font-size: 90px;
    }
    &__text {
      padding: 5px;
      margin: 1px;
    }
  }
}
